/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .pical-markitup-bold a	{
	background-image:url(images/bold.png);
}
.markItUp .pical-markitup-italic a	{
	background-image:url(images/italic.png);
}
.markItUp .pical-markitup-underline a	{
	background-image:url(images/underline.png);
}
.markItUp .pical-markitup-delete a	{
	background-image:url(images/stroke.png);
}

.markItUp .pical-markitup-picture a	{
	background-image:url(images/picture.png);
}
.markItUp .pical-markitup-link a	{
	background-image:url(images/link.png);
}

.markItUp .pical-markitup-color a	{
	background-image:url(images/colors.png);
}
.markItUp .pical-markitup-color ul {
	width:81px;
	padding:1px;	
}
.markItUp .pical-markitup-color  li {
	border:1px solid white;
	width:25px;	height:25px;
	overflow:hidden;
	padding:0px; margin:0px;
	float:left;
}
.markItUp .pical-markitup-color ul a {
	width:25px;	height:25px;
}
.markItUp .pical-markitup-color ul a:hover {
	background-color:none;
}
.markItUp .pical-markitup-color .col1-1 a {
	background:#FCE94F;
}
.markItUp .pical-markitup-color .col1-2 a {
	background:#EDD400;
}
.markItUp .pical-markitup-color .col1-3 a {
	background:#C4A000;
}

.markItUp .pical-markitup-color .col2-1 a {
	background:#FCAF3E;
}
.markItUp .pical-markitup-color .col2-2 a {
	background:#F57900;
}
.markItUp .pical-markitup-color .col2-3 a {
	background:#CE5C00;
}

.markItUp .pical-markitup-color .col3-1 a {
	background:#E9B96E;
}
.markItUp .pical-markitup-color .col3-2 a {
	background:#C17D11;
}
.markItUp .pical-markitup-color .col3-3 a {
	background:#8F5902;
}

.markItUp .pical-markitup-color .col4-1 a {
	background:#8AE234;
}
.markItUp .pical-markitup-color .col4-2 a {
	background:#73D216;
}
.markItUp .pical-markitup-color .col4-3 a {
	background:#4E9A06;
}
							
.markItUp .pical-markitup-color .col5-1 a {
	background:#729FCF;
}
.markItUp .pical-markitup-color .col5-2 a {
	background:#3465A4;
}
.markItUp .pical-markitup-color .col5-3 a {
	background:#204A87;
}

.markItUp .pical-markitup-color .col6-1 a {
	background:#AD7FA8;
}
.markItUp .pical-markitup-color .col6-2 a {
	background:#75507B;
}
.markItUp .pical-markitup-color .col6-3 a {
	background:#5C3566;
}

.markItUp .pical-markitup-color .col7-1 a {
	background:#EF2929;
}
.markItUp .pical-markitup-color .col7-2 a {
	background:#CC0000;
}
.markItUp .pical-markitup-color .col7-3 a {
	background:#A40000;
}

.markItUp .pical-markitup-color .col8-1 a {
	background:#888A85;
}
.markItUp .pical-markitup-color .col8-2 a {
	background:#555753;
}
.markItUp .pical-markitup-color .col8-3 a {
	background:#000000;
}

.markItUp .pical-markitup-size a	{
	background-image:url(images/fonts.png);
}

.markItUp .pical-markitup-quote a	{
	background-image:url(images/quotes.png);
}
.markItUp .pical-markitup-code a	{
	background-image:url(images/code.png);
}
	
.markItUp .pical-markitup-clean a {
	background-image:url(images/clean.png);
}